.text-center {
	text-align: center;
}

.drawer-option {
	padding: 16px;
}

	
body {  
  font-size: calc(16px + 1vw);
  line-height: calc(1.1em + 0.5vw);
}
h2 {
  font-size: calc(1.2em + 4vw);
}

@media (min-width: 50em) {
  h2 {
    font-size: 50px;
  }
}



	@media only screen and (max-width:600px){
		.phone{
			width:100vw;
			height:100px;
			border: 1px solid grey;
		}
	}
	@media only screen and (max-width: 900px) and (min-width: 601px){
		.tabS{
			width:30vw;
			height:100px;
			border: 1px solid grey;
		}
	}
	@media only screen and (max-width: 1200px) and (min-width: 901px){
		.bigTabB{
			width:45vw;
			height:150px;
			border: 1px solid grey;
		}	
		.smallTabB{
			width:18vw;
			height:100px;
			border: 1px solid grey;
		}
	}
	@media only screen and (min-width: 1201px){
		.bigDesktop{
			width:22vw;
			height:150px;
			border: 1px solid grey;
		}	
		.smallDesktop{
			flex:12vw;
			height:100px;
			border: 1px solid grey;
		}
		}

