.text-center {
	text-align: center;
}

.drawer-option {
	padding: 16px;
}

	
body {  
  
}
.placeName {
  font-size: calc(14px + 0.25vw);
  margin : calc(1px + 0.25vw);
  padding : calc(3px + 0.5vw);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  font-family: "Merriweather", serif;
}

.cityName {
	font-size: calc(12px + 0.5vw);
	padding-top: calc(3px + 0.5vw);
	font-family: "Merriweather", serif;
}

.cardMain {
	background-color:#f4f9f5;
	padding : calc(10px + 0.5vw);
	margin:calc(7px + 0.5vw);
	width: calc(300px + 5vw);
	height: calc(280px + 5vw);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;

}