.text-center {
	text-align: center;
}

.drawer-option {
	padding: 16px;
}
	
body {  
  font-display:swap;
}

.placeName {
  font-size: calc(11px + 0.25vw);
  margin-top : (3px + 0.5vw);
  padding : calc(4px + 0.5vw);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  font-family: 'Questrial', sans-serif;
}

.cityName {
	font-size: calc(13px + 0.25vw);
	padding-top: calc(8px + 0.5vw);
	font-family: 'Antic', sans-serif;
}

.phoneName {
	font-size: calc(9px + 0.25vw);
	padding-top: calc(3px + 0.5vw);
	font-family: 'Merriweather', serif;
}

.ratingWrap {
	font-size:  calc(10px + 0.25vw);
	padding-top: calc(3px + 0.5vw);
	font-family: 'Merriweather', serif;
}

.cardMain {
	background-color:#f4f9f5;
	padding : calc(10px + 0.5vw);
	margin:calc(7px + 0.5vw);
	width: calc(300px + 5vw);
	/*height: calc(280px + 5vw);*/
	height: auto;
}

.barCari{
	padding-top: 30px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;

}